<% provide(:title, "About")%>
<h1>About</h1>
<div class = "container">
	<p>
		This site was created by Alex Chichester as a way to test his knowledge of Ruby on Rails. The creation of this is an attempt to learn how to do the following:
		<ul>
			<li>Create controllers with desired actions.</li>
			<li>Set up routes.</li>
			<li>Create models with validations and use migrations to make changes to the structure of the model.</li>
			<li>Associate models.</li>
			<li>Develop a professional-grade authentication system using password hashing functions (bcrypt in this case). </li>
		</ul>
		Special thanks to the <%= link_to("Ruby on Rails Tutorial", "https://www.railstutorial.org") %> by Michael Hartl.
	</p>
</div>