<% provide(:title, "Contact")%>
<h1>Contact</h1>
	<div class = "icon-container">
		<p>
			<a class = 'icon' href = 'https://github.com/alexchi1114'><img src = "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt = "Github" style="width:95px;height:95px;"></a>

			<a class = 'icon' href = 'https://www.linkedin.com/in/alex-chichester-b874b058'><img src = "https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" alt = "LinkedIn" style="width:80px;height:80px;"></a>

			<a class = 'icon' href = 'https://www.facebook.com/alex.chichester.3'><img src = "http://www.freeiconspng.com/uploads/facebook-transparent-pics-18.png" alt = "Facebook" style = "width:70px;height:70px;"></a>
		</p>
	</div>
