

<%if logged_in?%>
	<h1>Welcome, <%=current_user.name%></h1>
	<div class = "text-center">
		<%= link_to "View all Posts", posts_path, class: "btn btn-lg btn-primary" %> 
	</div>
<%else %>
	<div class="jumbotron text-center">
	  <h1>Welcome to Members Only</h1>
	  <p>Sign in to see posts from members</p> 
	  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<%end%>