@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
			margin-right:15px;
		}
	}
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.user-container{
	text-align:center;
}



/* forms */

.container {
	width:550px;
}

/* Contact */

.icon-container {
	text-align:center;
}

.icon {
	padding: 10px;
	
}











